.segment:focus {
    position: relative;
    z-index: 2;

    > .inner {
        outline: 2px solid var(--mantine-primary-color-filled);
        outline-offset: calc(0.125rem * var(--mantine-scale));
    }
}
