@font-face {
    font-family: "Twemoji Country Flags";
    src: url("/TwemojiCountryFlags.woff2") format("woff2");
    font-display: swap;
}

.flag {
    font-family: "Twemoji Country Flags";
    display: inline-block;
    user-select: none;
}
