@font-face {
    font-family: "Twemoji Country Flags";
    src: url("https://cdn.jsdelivr.net/npm/country-flag-emoji-polyfill@0.1/dist/TwemojiCountryFlags.woff2")
        format("woff2");
    font-display: swap;
}

.flag {
    font-family: "Twemoji Country Flags";
    display: inline-block;
    user-select: none;
}
