.map {
    --ml-ctrl-border-radius: var(--mantine-radius-default);
    --ml-c-bg-1: var(--mantine-color-default);
    --ml-c-bg-2: var(--mantine-color-default-hover);
    --ml-c-bg-3: var(--mantine-color-default-hover);
    --ml-c-icon-1: var(--mantine-color-gray-7);
    --ml-c-icon-2: var(--mantine-color-gray-7);
    --ml-c-active: var(--mantine-primary-color-filled);
    --ml-c-error: var(--mantine-color-red-filled);
    --ml-o-disabled: 0.12;
    --ml-shadow: none;
    --ml-c-link-1: var(--mantine-color-dimmed);
    --ml-c-link-2: var(--mantine-color-dimmed);
    --ml-c-geoloc: var(--mantine-primary-color-filled);

    --popover-border-color: var(--mantine-color-gray-2);
    overflow: hidden;
}

.map:global(.dark) {
    --ml-c-icon-1: var(--mantine-color-dark-1);
    --ml-c-icon-2: var(--mantine-color-dark-1);

    --popover-border-color: var(--mantine-color-dark-4);
}

.map :global(.maplibregl-ctrl-attrib) {
    background: none;
    font-size: var(--mantine-font-size-xs);
    border-top-left-radius: var(--mantine-radius-default);
    font-weight: 500;
    -webkit-text-stroke: 0.1px;
    -webkit-text-stroke-color: var(--mantine-color-default);
}

.map :global(.maplibregl-ctrl-attrib) a {
    text-decoration: initial;
}

.map :global(.maplibregl-ctrl-attrib) a:hover {
    text-decoration: underline;
}

.map :global(.maplibregl-popup) {
    padding-bottom: 37px;
}

.map :global(.maplibregl-popup-content) {
    border: 1px solid var(--popover-border-color);
}

.map :global(.maplibregl-popup-tip) {
    border: 1px solid var(--popover-border-color);
    width: 7px;
    height: 7px;
    background-color: var(--mantine-color-default);
    position: absolute;
    border-top-left-radius: 0px;
    border-bottom-color: transparent;
    border-right-color: transparent;
    clip-path: polygon(0px 100%, 0px 0px, 100% 0px);
}

.map :global(.maplibregl-popup):global(.maplibregl-popup-anchor-left) {
    padding-left: 17px;
}

.map :global(.maplibregl-popup):global(.maplibregl-popup-anchor-right) {
    padding-right: 17px;
}

.map :global(.maplibregl-popup-anchor-top) :global(.maplibregl-popup-tip) {
    transform: rotate(45deg);
    top: -2.5px;
}

.map :global(.maplibregl-popup-anchor-bottom) :global(.maplibregl-popup-tip) {
    transform: rotate(225deg);
    bottom: 34.5px;
}

.map :global(.maplibregl-popup-anchor-left) :global(.maplibregl-popup-tip) {
    transform: rotate(-45deg);
    left: 14.5px;
}

.map :global(.maplibregl-popup-anchor-right) :global(.maplibregl-popup-tip) {
    transform: rotate(135deg);
    right: 14.5px;
}
